<h1>Volunteer: <%= @volunteer.name %></h1>

<h3>Project: </h3>
<h4><%= @project.title %></h4>

<h3>Assign to Project:</h3>

<% if @projects.any? %>
  <form action="/volunteers/<%= @volunteer.id %>" method="post">
    <input name="_method" type="hidden" value="patch">
    
    <div class="form-group">
      <label for="proj_assign">Projects:</label>
      <select name="proj_assign" id="proj_assign">
        <option value="">--Please choose a Project--</option>
        <% @projects.each do |proj| %>
          <option value="<%= proj.id %>"><%= proj.title %></option>
        <% end %>
      </select>
    </div>
    <button type="submit" class="btn btn-success">Assign to Project</button>
  </form>
<% else %>
  <p> You have no Projects Available.</p>
<% end %>


<p><a href="/volunteers">Return to volunteers List</a></p>
<p><a href="/projects">Go to Projects List</a></p>


